MakeACatClient/Connected Services/MakeACatServiceRef/MakeACatService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MakeACatService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:16612/MakeACatService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:16612/MakeACatService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:16612/MakeACatService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MakeACatWCFServiceApplication" />
      <xsd:import schemaLocation="http://localhost:16612/MakeACatService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMakeACatService_MakeACat_InputMessage">
    <wsdl:part name="parameters" element="tns:MakeACat" />
  </wsdl:message>
  <wsdl:message name="IMakeACatService_MakeACat_OutputMessage">
    <wsdl:part name="parameters" element="tns:MakeACatResponse" />
  </wsdl:message>
  <wsdl:message name="IMakeACatService_MakeCats_InputMessage">
    <wsdl:part name="parameters" element="tns:MakeCats" />
  </wsdl:message>
  <wsdl:message name="IMakeACatService_MakeCats_OutputMessage">
    <wsdl:part name="parameters" element="tns:MakeCatsResponse" />
  </wsdl:message>
  <wsdl:portType name="IMakeACatService">
    <wsdl:operation name="MakeACat">
      <wsdl:input wsaw:Action="http://tempuri.org/IMakeACatService/MakeACat" message="tns:IMakeACatService_MakeACat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMakeACatService/MakeACatResponse" message="tns:IMakeACatService_MakeACat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MakeCats">
      <wsdl:input wsaw:Action="http://tempuri.org/IMakeACatService/MakeCats" message="tns:IMakeACatService_MakeCats_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMakeACatService/MakeCatsResponse" message="tns:IMakeACatService_MakeCats_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMakeACatService" type="tns:IMakeACatService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MakeACat">
      <soap:operation soapAction="http://tempuri.org/IMakeACatService/MakeACat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MakeCats">
      <soap:operation soapAction="http://tempuri.org/IMakeACatService/MakeCats" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MakeACatService">
    <wsdl:port name="BasicHttpBinding_IMakeACatService" binding="tns:BasicHttpBinding_IMakeACatService">
      <soap:address location="http://localhost:16612/MakeACatService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>